<html>
  <head>
    <title>Welcome to a1.home.local!</title>
  </head>
  <body>

<font color="gold"> Owner this server {{ owner }}<br>
Server Host Name : {{ ansible_hostname }} <br>
Server OS : {{ ansible_os_family }} <br>
IPv4 address: {{ ansible_default_ipv4.address }} <br>

  </body>
</html>
